<div class="nav">
  <nav>
    <ul>
      <li><a href="index.html">Home</a></li>
      <li><a href="index.html#important-dates">Dates</a></li>
      <li><a href="call-for-participation.html">Call for Abstracts and Participation</a></li>
      <li><a href="program.html">Program</a></li>
      <!-- <li><a href="venue.html">Venue</a></li> -->
      <li><a href="localtransport.html">Local Transport</a></li>
      <li><a href="index.html#invited-speakers">Speakers</a></li>
      <li><a href="organisation-committee.html">Organization</a></li>
  </nav>
</div>
</html>
